body {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
}

button {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Helvetica', 'Arial', sans-serif; 
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 500;
    font-size: 16px;
    padding: 5px 10px;
    margin: 35px 0;
    border: solid;
    border-width: 1px;
    border-color: #3882f6;
    border-radius: 5px;  
    min-width: 110px;
}

button.selected {
    border: solid;
    border-width: 1px;
    border-radius: 5px;  
}

#ai {
    background-color: crimson;
    border-color: crimson;
}

div#buttons, div#computer {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #1f2937;
}

div#vs {
    background-color: #1f2937;
}

p {
    margin: 0;
    text-align: center;
    color: #45e88c;
    animation: blinker 1.0s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.4;
    }
}

div#results{
    padding: 50px 10% 50px 10%;
    height: 20px;
    text-align: center;
}

div#final{
    padding: 50px 10% 50px 10%;
    height: 20px;
    text-align: center;
    background-color: #e5e7eb;
}