body {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
}

button {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Helvetica', 'Arial', sans-serif; 
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 500;
    font-size: 16px;
    padding: 5px 10px;
    margin: 45px 0;
    border: none;
    border-radius: 5px;  
    min-width: 110px;
}

div#buttons {
    padding: 0 10% 0 10%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 30px;
    background-color: #1f2937;
}

div#results{
    padding: 50px 10% 50px 10%;
    height: 20px;
    text-align: center;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* gap: 50px; */
}

div#final{
    padding: 50px 10% 50px 10%;
    height: 20px;
    text-align: center;
    background-color: #e5e7eb;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* gap: 50px; */
    /* background-color: #e5e7eb; */
}